form {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.inputContainer {
  width: 85%;
  display: flex;
}

.inputContainer input {
  width: 50%;
  border: none;
  outline: none;
  border-bottom: 1px solid #635ac7;
  margin: 10px 10px 0 0;
  padding: 10px 0;
  background: transparent;
}
.buttonContainer {
  width: 15%;
}
button {
  width: 100%;
  border: none;
  background: #635ac7;
  padding: 15px 0;
  color: #ffffff;
}

@media screen and (max-width: 769px) {
  form {
    flex-direction: column;
  }
  .inputContainer {
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
  }
  .inputContainer input {
    width: 100%;
  }
  .buttonContainer {
    width: 100%;
  }
}
